.flexContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.flexContainer > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 10px;
  font-size: 30px;
}