---
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Steps from '~/components/widgets/Steps.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Cloud Flow',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
  image={{
    src: '~/assets/images/cloudflow/cloudflow-banner-min.png',
    alt: 'Cloudflow banner'
  }}
    actions={[
      {
        variant: 'primary',
        text: 'Get started with CloudFlow',
        target: '_blank',
        icon: 'tabler:chevrons-right',
        href: 'https://cloudflow.gedac.org',
      },
    ]}

  >
    <Fragment slot="title" class="m-0 p-0">
      Elevate your bioinformatics workflows <span class="text-accent dark:text-white highlight"> with CloudFlow</span>
    </Fragment>
  </Hero>

  <Steps
    title="A guided journey through CloudFlow"
    tagline="simplified, scalable bioinformatics analysis"
    isReversed={true}
    items={[
      {
        title: 'Explore pipelines and preview',
        icon: 'tabler:number-1',
      },
      {
        title: 'Choose your pipeline',
        icon: 'tabler:number-2',
      },
      {
        title: 'Submit your data',
        icon: 'tabler:number-3',
      },
      {
        title: 'Monitor analysis progress',
        icon: 'tabler:number-4',
      },
      {
        title: 'Download results',
        icon: 'tabler:number-5',
      },
      {
        title: 'Consult our bioinformaticians',
        icon: 'tabler:number-6',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=768&q=80&h=1365',
      alt: 'Steps image',
    }}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="CloudFlow FAQs"
    subtitle="Have questions? We're here to help. Our FAQ section covers everything about our bioinformatics service, workflows, pricing, and more."
    columns={1}
    items={[
      {
        title: 'What is CloudFlow?',
        description:
          'CloudFlow is a cloud-based bioinformatics platform optimized for large-scale next-generation sequencing data analysis. It integrates seamlessly with nf-core pipelines for efficient, scalable execution.',
      },
      {
        title: 'What pipelines does CloudFlow support?',
        description:
          "CloudFlow fully supports Nextflow-written pipelines, including those from the nf-core community. This allows users to run high-quality, reproducible bioinformatics workflows tailored to their lab's specific requirements on the cloud.",
      },
      {
        title: 'How do I submit my data?',
        description:
          'Data submission is simple. Once you choose a pipeline, you can upload your sequencing data directly to CloudFlow, where it will be processed in a secure cloud environment.',
      },
      {
        title: 'How do we pay for CloudFlow services?',
        description:
          "For NUS labs, payment for CloudFlow services is processed internally using the lab's associated WBS Codes. This ensures seamless and efficient billing within the university's financial system.",
      },
      {
        title: 'How can I access CloudFlow documentation?',
        description:
          'CloudFlow provides guided, detailed documentation at <a href="https://docs.cloudflow.gedac.org" target="_blank" class="text-accent">docs.cloudflow.gedac.org</a>, covering everything from setting up your account to running and monitoring analysis workflows.',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Ready to start your analysis?"
    subtitle="Join CloudFlow today and leverage the power of cloud-based bioinformatics analysis with optimized workflows and scalable execution."
    actions={[
      {
        variant: 'primary',
        text: 'Get started now',
        target: '_blank',
        icon: 'tabler:chevrons-right',
        href: 'https://cloudflow.gedac.org',
      },
    ]}
  />
</Layout>
