---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero3 from '~/components/widgets/Hero3.astro';
import Features from '~/components/widgets/Features.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Content from '~/components/widgets/Content.astro';

import { headerData } from '~/navigation';
import FAQs from '~/components/widgets/FAQs.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import usecaseImage from 'public/images/computational-biology.jpg';
import showcaseImage from 'public/images/showcase.jpg';

const metadata = {
  title: 'GeDaC: Home',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      {...headerData}
      actions={[
        {
          variant: 'secondary',
          text: 'Cloud Flow',
          href: 'https://www.cloudflow.gedac.org/',
          target: '_blank',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero3
    tagline="Cancer Science Institute of Singapore"
    actions={[
      {
        variant: 'primary',
        target: '_blank',
        text: 'Cancer Science Institute',
        href: 'https://csi.nus.edu.sg/',
        icon: 'tabler:external-link',
      },

      { text: 'Learn more', href: '#features' },
    ]}
  >
    <Fragment slot="title"> Genomics and Data Analytics Core (GeDaC) </Fragment>

    <Fragment slot="subtitle">
      The Genomics and Data Analytics Core (GeDaC) at the Cancer Science Institute of Singapore (CSI) is designed to
      meet the increasing need of bioinformatics and computational support for institute labs.
    </Fragment>
  </Hero3>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="GeDaC Services"
    subtitle="Our core focus points"
    columns={2}
    items={[
      {
        title: 'Bioinformatics Consultations',
        description:
          'Providing expert guidance and support in bioinformatics, including data analysis, interpretation, and visualization to help researchers achieve their scientific goals.',
        icon: 'tabler:layers-union',
      },
      {
        title: 'GeDaC Cloud Flow',
        description:
          'A centralized platform providing access to all GeDaC services, resources, and tools for efficient bioinformatics research and collaboration.',
        icon: 'tabler:podium',
      },
      {
        title: 'Data Storage and Management',
        description:
          'Secure and scalable solutions for storing, managing, and accessing large volumes of genomic and bioinformatics data.',
        icon: 'tabler:artboard',
      },
      {
        title: 'Software and Cloud Solutions',
        description:
          'Custom software solutions tailored to meet the specific needs of bioinformatics research, including data analysis pipelines and visualization tools.',
        icon: 'tabler:writing',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    id="use-cases"
    title="Use Cases"
    subtitle="Discover how GeDaC serves as the ideal solution for diverse research needs, providing customized services and tools to accelerate scientific discovery and enhance data-driven research outcomes."
    isReversed
    items={[
      {
        title: 'Bioinformatics Consultation:',
        description:
          'GeDaC offers comprehensive bioinformatics support for academic research. Whether you are conducting genomics, transcriptomics, or proteomics research, our platform provides seamless data management and analysis solutions. Leveraging AWS infrastructure and cutting-edge pipelines like nf-core, GeDaC ensures your research is scalable, reproducible, and efficient.',
      },
      {
        title: 'Cloud Computing:',
        description: `Empower researchers to focus on scientific discovery by automating complex analysis tasks. <br /> Streamline data handling with secure, scalable cloud infrastructure. <br /> Utilize customizable, reproducible pipelines to generate high-quality results. <br /> Enhance collaboration by providing access to data and results through an intuitive web portal.`,
      },
      {
        title: 'Data Solutions:',
        description: `Our Storage unit is responsible for the maintenance of CSI servers and storage management such as backup and archiving. The unit also provides support for the institute’s cloud computing transition, security, and network maintenance.`,
      },
    ]}
    image={{
      src: usecaseImage,
      alt: 'Computational Biology Image',
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    id="showcase"
    isAfterContent={true}
    items={[
      {
        title: 'GeDaC Cloud Flow:',
        description: `GeDaC Cloud Flow provides a streamlined data processing pipeline that enables efficient management and analysis of bioinformatics data. Utilizing cloud infrastructure, it facilitates scalability and reproducibility, allowing researchers to focus on their scientific discoveries without the hassle of data handling.`,
      },
      {
        title: 'Consultation Project:',
        description: `Our Consultation Project offers tailored guidance for researchers seeking to optimize their bioinformatics workflows. Our experts work closely with your team to understand your specific needs and provide actionable insights, ensuring that your research projects are efficient and successful.`,
      },
      {
        title: 'N2CR Avatar Portal:',
        description: `The N2CR Avatar Portal serves as a user-friendly interface for accessing and managing cancer models. It allows researchers to easily submit Patitent derived models and enhancing collaboration and transparency throughout the research process.`,
      },
    ]}
    image={{
      src: showcaseImage,
      alt: 'Bioinformatics Showcase',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        GeDaC Showcase: <br /><span class="text-2xl">Success Stories</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- FAQs Widget ******************* -->

  <FAQs
    id="faq"
    title="Frequently Asked Questions"
    items={[
      {
        title: 'What services does the Bioinformatics Core Lab provide?',
        description:
          'Our Core Lab offers a range of bioinformatics services, including data analysis, pipeline development, and customized support for genomics, transcriptomics, proteomics, and more. We also provide consultations to help design experiments and optimize data processing workflows.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Can I request a custom bioinformatics pipeline for my project?',
        description: `Yes, we can develop and customize pipelines based on the specific needs of your project. Whether you're working on high-throughput sequencing data, metagenomics, or single-cell analysis, our team can tailor the solution to fit your research requirements.`,
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Do I need bioinformatics expertise to use the services?',
        description:
          'No prior bioinformatics knowledge is required. Our team will guide you through every step of the process, from project consultation to data analysis. We ensure that our services are accessible to researchers from all backgrounds.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'How can I get started with the Bioinformatics Core Lab?',
        description: `To get started, simply reach out to us via our contact form or email to discuss your project. We will schedule a consultation to assess your needs and provide a tailored service plan.`,
        icon: 'tabler:chevrons-right',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Reach out to us"
    subtitle="Have questions? Feel free to contact us using the form below. We're here to help!"
    items={[
      {
        title: 'Email us',
        description: 'support[at]gedac.org',
        icon: 'tabler:mail',
      },
    ]}
    links={[
      {
        text: 'Help Desk',
        href: 'https://support.gedac.org/support/tickets/new',
        target: '_blank',
        icon: 'tabler:external-link',
      },
    ]}
  />

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Stay informed with our blog"
    information={`Explore our collection of articles, guides, and tutorials on bioinformatics, computational biology, and more.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
