---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Software Development',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Software Development"
    title="Empowering Bioinformatics with Advanced Web Applications"
    subtitle="As the core facility of CSI, we develop web applications and tools tailored for bioinformatics, specializing in interactive visualization, data pipelines, and real-time data analysis."
    image={{
      src: 'https://images.unsplash.com/photo-1504868584819-f8e8b4b6d7e3?ixlib=rb-4.0.3&auto=format&fit=crop&w=1740&q=80',
      alt: 'Software Development Hero Image',
    }}
    actions={[
      {
        variant: 'primary',
        target: '_blank',
        text: 'Share your Idea, Let’s Build Together',
        href: 'https://support.gedac.org/support/tickets/new',
        icon: 'tabler:chevrons-right',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Our Capabilities"
    subtitle="We specialize in bioinformatics solutions that drive impactful research and innovation."
    columns={3}
    items={[
      {
        title: 'Interactive Visualization',
        description:
          'Transforming complex biological data into intuitive and dynamic visual representations for effective analysis.',
        icon: 'tabler:chart-donut',
      },
      {
        title: 'Data Pipelines',
        description:
          'Automating the processing and analysis of large-scale biological datasets to streamline research workflows.',
        icon: 'tabler:server',
      },
      {
        title: 'Real-Time Data Analysis',
        description: `Developing tools for real-time monitoring and analysis of bioinformatics data, accelerating discovery.`,
        icon: 'tabler:clock-play',
      },
      {
        title: 'Cloud-Based Solutions',
        description:
          'Leveraging cloud computing for scalable and efficient bioinformatics applications and storage solutions.',
        icon: 'tabler:cloud',
      },
      {
        title: 'Custom Web Applications',
        description:
          'Building user-friendly web tools tailored to the specific needs of bioinformatics researchers and labs.',
        icon: 'tabler:code',
      },
      {
        title: 'Security & Compliance',
        description:
          'Ensuring secure, compliant, and reliable software solutions for handling sensitive biological data.',
        icon: 'tabler:shield-lock',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: 'Scalable & Reliable Solutions',
        description:
          'Our software solutions are designed to handle large-scale bioinformatics data with high performance and reliability.',
        icon: 'tabler:cpu',
      },
      {
        title: 'Intuitive User Experience',
        description:
          'We prioritize usability, ensuring that our applications are easy to navigate for researchers and scientists.',
        icon: 'tabler:user',
      },
      {
        title: 'Open-Source Contributions',
        description:
          'We contribute to the scientific community by developing and maintaining open-source bioinformatics tools.',
        icon: 'tabler:git-pull-request',
      },
      {
        title: 'Seamless Integration',
        description:
          'Our tools integrate with existing bioinformatics platforms, databases, and cloud services for enhanced functionality.',
        icon: 'tabler:plug',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1523726491678-bf852e717f6a?ixlib=rb-4.0.3&auto=format&fit=crop&w=870&q=80',
      alt: 'Software Development Features Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Why Choose Us?</h3>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    id="portfolio"
    title="Showcases"
    subtitle="Explore the impactful projects we’ve worked on at GeDaC, where innovation and expertise intersect to create solutions in bioinformatics and cloud technology."
    isReversed
    items={[
      {
        title: 'Description:',
        description:
          'Implemented the N2CR patient-derived-model database along with a web portal. Authorized users can add, update, and query model records, enhancing research and data accessibility.',
      },
    ]}
    image={{
      src: '~/assets/images/software/n2cr-portal.png',
      width: 1500,
      height: 800,
      alt: 'N2CR Avatar Portal Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: 'https://n2cr.gedac.org/',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 1: <br /><span class="text-2xl">N2CR Avatar Portal</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description:
          'Developed a web application that integrates genomic instability scores and copy number signatures with molecular and clinical features from patient data. The information is presented through interactive charts in a user-friendly interface.',
      },
    ]}
    image={{
      src: '~/assets/images/software/gi-viewer.png',
      width: 1500,
      height: 800,
      alt: 'GI Viewer Portal Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: 'https://gi-viewer.pittlabgenomics.com/',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 2: <br /><span class="text-2xl">Genomic Instability Viewer</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description:
          'Implemented the MutSig web-app as part of the EnsembleFit project, enabling users to process, analyze, and download mutation signature insights.',
      },
    ]}
    image={{
      src: '~/assets/images/software/ensemble-fit.png',
      width: 1500,
      height: 800,
      alt: 'EnsembleFit Project Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: 'https://www.ensemblefit.pittlabgenomics.com/',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 3: <br /><span class="text-2xl">EnsembleFit</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Share Your Idea, Let’s Build Together',
        icon: 'tabler:chevrons-right',
        target: '_blank',
        href: 'https://support.gedac.org/support/tickets/new',
      },
    ]}
    title="Accelerate Your Bioinformatics Research"
    subtitle="Harness our advanced software development expertise to create scalable, efficient, and innovative bioinformatics solutions."
  />
</Layout>
